doctype html 
head 
    style  
        include ./css/styles.css
        include ./css/bootstrap.min.css 
.container-fluid.m-4
.row.ml-4   
    h3 Reset your password
    form.mb-2.ml-4
        .form-group
        label Email address
        br
        input.fw(type='email' aria-describedby='emailHelp' placeholder='Enter email')
        br
        .form-group 
        button.btn.btn-primary.fw(type='submit') Send link in email adderss
        