doctype html 
head 
  title Game Tournament 
  // core theme CSS
  style 
    include ./css/bootstrap.min.css 
  style 
    include ./css/styles.css 
#wrapper.d-flex
  // Sidebar
  #sidebar-wrapper.border-end.bg-white
    .sidebar-heading.border-bottom.bg-light GAME TOURNAMENT
    .list-group.list-group-flush
      a.list-group-item.list-group-item-action.list-group-item-light.p-3(href='header') Dashboard
      a.list-group-item.list-group-item-action.list-group-item-light.p-3(href='games!') GAMES
      a.list-group-item.list-group-item-action.list-group-item-light.p-3(href='#!') MATCHES
      a.list-group-item.list-group-item-action.list-group-item-light.p-3(href='#!') SCOREBOARD
      a.list-group-item.list-group-item-action.list-group-item-light.p-3(href='#!') MY ACCOUNT
      a.list-group-item.list-group-item-action.list-group-item-light.p-3(href='#!') LOGOUT
  // Page content wrapper
  #page-content-wrapper
    // Top navigation
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.border-bottom
      .container-fluid
        button#sidebarToggle.btn.btn-primary MENU
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.ms-auto.mt-2.mt-lg-0
            li.nav-item.active
              a.nav-link(href='Home') Home
            li.nav-item.active
              a.nav-link(href='Profile') Profile 
            li.nav-item.active
              a.nav-link(href='signup') Signup
            li.nav-item.active
              a.nav-link(href='login') Login
                // Page content
    block content 