extend header 
block content 
    .container-fluid.m-4
    .row.ml-4   
        h3 sign in to game tournament 
    form.mb-2.ml-4
        .form-group
        label Username
        br
        input.fw(type='email' aria-describedby='emailHelp' placeholder='Enter email')
        .form-group
        label Password
        br
        input.fw(type='password' placeholder='Password')
        br
        a.nav-link(href='Forgot') Forgot Password?
        br
        button.btn.btn-primary.fw(type='submit') Sign in 
        br
        a.nav-link(href='signup') create an account