block content
doctype html
head
  style 
        include ./css/styles.css 
        include ./css/bootstrap.min.css
  .row
    p You've successfully register.
    p
      a#linkLogin.form__link(href='login') Click here to login in system
script(src='views/js/main.js')
