block content 
    doctype html
    head
        link(rel='stylesheet' href='views/css/main.css')
    .container-fluid.m-4
        .row.ml-4   
            form(action='/signup' method='POST')#createAccount.form.mb-2.ml-4
                h1.form_title Create Account
                .form_input-group
                    label Username
                    br
                    input#signupUsername.form_input(type='text' value='' name='username' placeholder='Username')
                    .form_input-error-message
                .form_input-group
                    br
                    label Email address 
                    br
                    input.form_input(type='text' id='First Name' value='' name='email' placeholder='Email')
                    .form_input-error-message
                .form_input-group
                    br
                    label Date of birth 
                    br
                    input.form_input(type='date' id='date_of_birth' value='' name='date_of_birth' placeholder='Date of birth')
                    .form_input-error-message
                .form_input-group
                    br
                    label Password 
                    br
                    input.form_input(type='password' name='password' value='' placeholder='Password')
                    .form_input-error-message
                .form_input-group
                    br
                    label Confirm Password 
                    br
                    input.form_input(type='password' name='confirmPassword' value='' placeholder='Confirm password')
                    .form_input-error-message
                    br
                button.form_button(type='submit') Register
                p
                    a#linkLogin.form_link(href='/login') Already have an account? Sign in
        script(src='views/js/main.js')
